body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

/* LAYOUT */

.layout_sider {
  background-color: darkgray;
}

.layout_header {
  background-color: darkgray;
}

/* SEARCH */
.search {
  display: flex;
  margin-top: 15px;
}

.search_input {
}

.search_submite {
}

/* MODAL */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOVIE LIST */
.film-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* MOVIE CARD */
.film-card {
  width: 300px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px darkgrey;
  border-radius: 5px;
}

.film-card_title {
  display: inline-block;
  padding: 0 5px 0 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film-card_poster {
  text-align: center;
}
.film-card_img {
  height: 350px;
  max-width: 270px;
}

.film-card_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* MOVIE_DESCRIPTION */

.movie-description {
  background-color: lightgray;
  padding: 20px;
  width: 1000px;
  border-radius: 5px;
}

.movie-description_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.movie-description_content {
  display: flex;
  flex-direction: row;
}

.movie-description_poster {
  margin-right: 20px;
}

.movie-description_description {
  height: 550px;
  overflow: auto;
}

.description-item {
  display: table-row;
}

.description-item_title {
  display: table-cell;
  width: 90px;
}

.description-item_value {
  display: table-cell;
}
